.header h1 {
    text-align: center;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #C2EABA;
}

.header h2 {
    text-align: center;
    text-decoration: wavy;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #C2EABA;
}

.header h3 {
    text-align: center;
    text-decoration: wavy;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #C2EABA;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.tableCenter {
    margin-left: auto;
    margin-right: auto;
}

.form{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    outline: 5px dotted green;
}

.tableTop {
    margin-left: auto;
    margin-right: auto;
    background-color: #8F8389;
    font-size: 40px;
}

.body {
    background-color: #E6EFE9;
}

.paragraph {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-right: auto;
    margin-right: auto;
}

tr:nth-child(odd) {
    background-color: #A7C4A0;
}

ul {
    font: 20px "Times New Roman", Times, serif;
}